<div class="cadastro main">
    <h1>Jogo da<br>Forca</h1>
    <img src="../../assets/forca.png" alt="">
    <div class="footer">
        <img src="../../assets/chao-verde.png" alt="">
    </div>
    <div class="content">
        <label for="nome" class="texto">Nome</label>
        <input class="input" type="text" name="nome">
        <label for="email" class="texto">E-mail</label>
        <input class="input" type="email" name="email">
        <label for="senha" class="texto">Senha</label>
        <input class="input" type="password" name="senha">
        <div>
            <label for="administrador" class="texto">Administrador</label>
            <input type="checkbox" name="administrador">
        </div>
        <input class="input" type="submit" value="Concluir">
    </div>
</div>