.input{
    background: #FFB951;
}

.content{
    align-items: start;
}

.texto{
    margin-left: 35px;
    font-size: 30px;
}

input[type="submit"]{
    background: #FF9800 !important;
    width: 264px;
    font-size: 34px;
    align-self: center
}
