.input{
    background: #FF9800;
}

.categorias{
    background: #FFB951;
    padding-left: 30px;
}

input[type="submit"]{
    background: #FF9800 !important;
    width: 264px !important;
    font-size: 34px;
    align-self: center
}

.texto{
    margin-left: 35px;
    font-size: 30px;
    align-self: start;
}

.content{
    bottom: 100px;
}