
<div class="main">
    <h1>Jogo da<br>Forca</h1>
    <img src="../../assets/forca.png" alt="">
    <div class="footer">
        <img src="../../assets/chao-verde.png" alt="">
    </div>
    <div class="content">
        <button class="input" (click)="navegar('/cadastro')" >Criar usuário</button>
        <button class="input" (click)="navegar('/login')">Login</button>
        <button class="input" (click)="navegar('/ranking')">Ranking</button>
        <button class="input" (click)="navegar('/admin')">Admin</button>
    </div>
</div>